.App {
  display: flex;
  text-align: left;
  flex-direction: column;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  border: 4px solid rgb(118, 79, 244);
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.chat-window{
  background: #99762580;
  margin-left: auto;
  width: 47vh;
  height: auto;
  border: 2px solid orangered;
  padding: 15px;
}

.msg-window {
  border: 2px solid green;
  height: 80vh;
  margin: 10px;

  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.form-window{
  height: auto;
  width: auto;
  border: 4px solid rgb(241, 48, 232);
}

.message {
  background-color: rgba(127, 255, 212, 0.41);
  border: 3px solid #ffffff;
  border-radius: 20px;

  height: auto;
  width: 30vh;

  padding: 8px;

  display: flex;
  align-items: center;
}

.pic {
  border: 1px solid green;
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
}

.sent {
  background-color: black;
  font-size: auto;
  font-size: 18px;
}