.App {
  display: flex;
  text-align: left;
}

.App-logo {
  height: 400px;
  width: auto;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-window{
  background: #99762580;
  margin-left: 1200px;
  width: 425px;
  height: 800px;
  border: 2px solid orangered;
  padding: 15px;
}

.msg-window{
  border: 2px solid green;
  height: 700px;

  overflow-y: auto;
  margin-bottom: 10px;
}

.form-window{
  border: 2px solid rgb(40, 184, 40);
}

.message {
  background-color: rgba(127, 255, 212, 0.41);
  border: 3px solid #ffffff;
  border-radius: 20px;

  height: auto;
  width: 375px;

  padding: 8px;

  display: flex;
}

.pic {
  border: 1px solid green;
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
}

.sent {
  background-color: black;
  font-size: auto;
  font-size: 18px;
}